# honeybee-core==1.61.16
honeybee-core @ git+https://github.com/Ayush-Abraham/honeybee-core.git


# dragonfly-schema==1.14.1
dragonfly-schema @ git+https://github.com/Ayush-Abraham/dragonfly-schema.git

# python_version>='3.7'
